# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/ 

# vim swap files
*.swp

# sublime text
*.sublime-workspace

# jupyter notebooks
*.ipynb
.ipynb_checkpoints/
