{% extends "webapp/layout.html" %}
{% load i18n %}

{% block content %}
<section>
    <header>
        <h3>{{ damndaily.name }}</h3>
        {% if today %}
        <h4>{{ today.day}}
        {% if today.time %}
            {{ today.time }}
        {% endif %}</h4>
        {% endif %}
        <h4>Teilnehmer</h4>
    </header>
    <ul>
        {% for participation in participations %}
        <li>{{ participation.user }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'webapp:partake' damndaily.external_id %}">{% trans 'Contribute this link to your folks' %}</a>
</section>
<section>
    <form action="{% url 'webapp:update_today' today.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="day">{% trans 'Day' %}</label>
            <input type="text" readonly="readonly" value="{{ today.day }}">
        </div>
        <div>
            <label for="day">{% trans 'At' %}</label>
            <input type="time" value="{{ today.time }}" name="time">
        </div>
        <div>
            <label for="location">{% trans 'Where' %}</label>
            <input type="text" value="{{ today.location }}" name="location" maxlength="512">
        </div>
        <div>
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
</section>

{% if messages %}
<section>
    <ul>
        {% for msg in messages %}
            <li>
                <div>
                    <aside>{{ msg.author }}</aside>
                    <p>{{ msg.value }}</p>
                    <aside>{{ msg.send }}</aside>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% endblock content %}
